<script src="js/index.js"></script>
<div class="container">
    <h2>Rust/Elm Web App</h2>
    <h3>Black76 Pricer</h3>
</div>
<div class="container" id="elm"></div>
<script>
    let app = Elm.Index.init({
        node: document.getElementById('elm')
    })
</script>